/* Home/Landing page styling */

::-webkit-scrollbar {
    width: 1.15rem;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #181c25;
    background: #232936;
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(107, 106, 106);
}

::-webkit-scrollbar-track {
    background: #181c25;
    -webkit-box-shadow: inset 0 0 5px #12171c;
    box-shadow: inset 0 0 5px #12171c;
}

@supports (scrollbar-color: red blue){
    * {
        scrollbar-color: #232936 #181c25;
        scrollbar-width: auto;
    }
}

.header-button {
    color:seashell;
    height: 10vh;
    padding-right: 5vh;
    padding-left: 5vh

}

.header-button::after{
    content: '';
    position: absolute;
    height: 3px;
    background: #f9a406;
    width: 100%;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 500ms ease;
}

.btn-cont:hover .header-button::after {
    transform: scaleX(1);
}


a:link {
    text-decoration: none;
  }

a:visited {
    text-decoration: none;
    color: #f5f5f5;
}

.h-icons{
    color: seashell;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.upper-container {
    min-height: 20px;
}

div.upper-bg {    
    background-image: url("../images/17-Destiny-2-Black-Armory-Wallpapers-on-WallpaperSafari.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.middle-container {
    padding-left: 30vh;
    padding-right: 30vh;
}

.body-headers {
    margin-top: 6vh;
    border-top: 1px rgb(107, 106, 106) solid;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
}

.news {
    display: inline-block;
    background: whitesmoke;
    padding: 0.25rem 0.5rem;
}

.news-content{
    margin: 25px;
}

.pinned1 {
    background-image: url("../images/Raid-reag-Ausrüstung-Destiny-2-Titel.jpg");
    background-position: center;
}

.pinned2 {
    background-image: url("../images/Destiny-2-Glaive-Weapon-Crafting-1024x576.jpg");
    background-position: 15% 100%;
}

.pinned3 {
    background-image: url("../images/destiny-2-crucible-ssbm.jpg");
    background-position: 70%;
}

.pinned1, .pinned2, .pinned3 {
    background-repeat: no-repeat;
    background-size: cover;    
    border-radius: 10px;
    display: inline-block;
    transition: transform 500ms ease;
    cursor: pointer;
}

.pinned1:hover,.pinned2:hover,.pinned3:hover {
    transform: scale(1.01);
}

.pinned1, .pinned2, .pinned3 a{
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.pinned-title{
    padding-top: 33vh;
        color: #f5f5f5;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;

}

.thumbnails{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: relative;
    
}

.title{
   margin-top: -2vh;
   margin-bottom: -2vh;
   color: #f5f5f5;
}

.subTitle{
    color: #f5f5f5;
}

.footItems{
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.fTitle{
    margin-top: -2vh;
    margin-bottom: -2vh;
    color: #f5f5f5;
    padding-bottom: 1vh;     
 }

 .fSubTitle a:hover{
    text-decoration: underline;
 }

 .fSubTitle{
    color: #479ce4;
    display: flex;
    align-items: flex-end;
    font-size: 15px;

}

.fSubTitle a{
    color: #f5f5f5;
}
.footer-content{
    padding-left: 30vh;
    padding-right: 30vh;
}

.constr-cont{
    padding-bottom: 10vh;
}
.construction {
    background-image: url('../images/pujnqysTeTjpQYfqCQNNhb.jpg');
    margin-top: 30vh;
    min-width: 30vw;
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    animation-name: rng;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 

}

@keyframes rng {
	0% {
		color: #55eeda;
	}
	25% {
		color: #6bd43b;
	}
	50% {
		color: #c25beb;
	}
	75% {
		color: #ffd97d;
	}
	100% {
		color: #ec1e1e;
	}
}

@media(max-width: 600px) {
    a, h1, h4, .pinned-title {
        font-size: 1rem;
    }

    .pinned1{
        min-width: 80vw;
    }
    
    .pinned2, .pinned3 {
        min-width: 39.5vw;
    }

    .middle-container{
        padding-left: 5vh;
        padding-right: 3vw;
        width: 100%;
    }
    .thumbnails{
        min-width: 40vw;
    }
    .pinned-stories{
        width: 100%;
    }
    .title{
        padding-bottom: 1vh;
    }
  }
  
  @media(orientation: portrait){
  }  